/*Main*/
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #023e8a, #caf0f8);
    background-attachment: fixed;
    background-size: cover;
    overflow: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    cursor: none;
}

::selection {
    background-color: #8ecae6;
    color: #03045e;
}

.image-container {
    position: relative;
    width: 30%;
    display: inline-block;
    margin: 10px;
}

img {
    transition: opacity 0.3s ease; 
    width: 550px; 
    height: 550px; 
    object-fit: cover; 
    transition: opacity 0.3s ease;
    margin: 10px; 
    margin-left: 55px;
}

.title {
    color: #e1e5f2;
    line-height: 2.0;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.animal-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.5rem;
    font-size: 60px;
    font-family: "Nunito", sans-serif;
    display: none;
    text-align: center;
    margin-left: 40px;
}

.image-container:hover img {
    opacity: 0;
}

.image-container:hover .animal-name {
    display: block;
} 

@media (max-width: 768px) {
    .image-container {
        width: 90%; 
        margin: 20px auto; 
        display: block; 
    }

    img {
        width: 100%; 
        height: auto; 
        margin: 0; 
    }

    .animal-name {
        font-size: 24px; 
        top: 50%; 
        left: 50%; 
        transform: translate(-50%, -50%);
        margin: 0; 
    }

    body {
        font-size: 16px; 
    }
}

/* Navbar*/
#mainNavbar {    
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center; 
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #03045e;
}

#mainNavbar .navbar-brand {
    color: #03045e;
    font-size: 1.5rem;
}

.navbar.scrolled {
    background: #ffbf69;
    transition: background 890ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
} 


/*Cursor*/
button, a {
    cursor: none;
    outline: none;
}

#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #ffbf69;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    border: 3px solid transparent;
    transition: all 0.1s ease;  
}

#cursor.hovered {
    width: 40px;
    height: 40px;
}

#cursor.clicked {
    background-color: #03045e;
    width: 50px;
    height: 50px;
    border-color: transparent;
}

